language = "python3"
run = "python app.py"
modules = ["python-3.10:v25-20230920-d4ad2e4"]

[[ports]]
localPort = 5000
externalPort = 80

# [nix]
# channel = "stable-23_11"

# [deployment]
# run = ["sh", "-c", "cowsay Configure me!"]

# [[ports]]
# localPort = 5000
# externalPort = 80
# hidden=[".config"]

# hosting is currently hardcoded for this language
# [hosting]
# route = "/"
# directory= "/"

# [nix]
# channel = "stable-21_11"

# [gitHubImport]
# requiredFiles = [".replit", "replit.nix", ".config"]

# [languages]

# [languages.javascript]
# pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.mjs,*.cjs}"

# [languages.javascript.languageServer]
# start = "typescript-language-server --stdio"

# [languages.css]
# pattern = "**/{*.less,*.scss,*.css}"

# [languages.css.languageServer]
# start = "vscode-css-language-server --stdio"

# [languages.html]
# pattern = "**/*.html"

# [languages.html.languageServer]
# start = "vscode-html-language-server --stdio"
# [languages.html.languageServer.initializationOptions]
# provideFormatter = true
